In [1]:
# Import Dependencies
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [3]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Avarua,CK,2021-05-29 22:12:17,-21.2078,-159.7750,78.85,61,20,4.61
1,1,Carnarvon,AU,2021-05-29 22:12:18,-24.8667,113.6333,57.27,94,3,5.75
2,2,Te Anau,NZ,2021-05-29 22:12:18,-45.4167,167.7167,46.40,95,100,7.45
3,3,Jamestown,US,2021-05-29 22:07:36,42.0970,-79.2353,53.19,84,90,5.99
4,4,Khatanga,RU,2021-05-29 22:12:18,71.9667,102.5000,39.61,75,97,8.84

In [11]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [13]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [17]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp,0) for temp in max_temp])
# Add the heatmap layer.
fig.add_layer(heat_layer)


fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))