In [35]:
# Import the dependencies.
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from citipy import citipy
from datetime import datetime
import requests
from config import weather_api_key

In [37]:
# Starting URL for Weather Map API Call.
url = "http://api.openweathermap.org/data/2.5/weather?units=Imperial&APPID=" + weather_api_key
print(url)

http://api.openweathermap.org/data/2.5/weather?units=Imperial&APPID=e23a4305507229627bb62e490c4ba021

In [ ]:
# Create a set of random latitude and longitude combinations.
lats = np.random.uniform(low = -90.000, high = 90.000, size = 1500)
lngs = np.random.uniform(low = -180.000, high = 180.000, size = 1500)
lat_lngs = zip(lats,lngs)

# Add the latitudes and longitudes to a list.
coordinates = list(lat_lngs)

In [3]:
# Create an empty list to hold the weather data
city_data = []
# Print the beginning of the logging.
print('Beginning Data Retrieval     ')
print('-----------------------------')

# Create counters.
record_count = 1
set_count = 1

# Loop through all the cities in our list.
for i,city in enumerate(cities):

    # Group cities in sets of 50 for logging purposes.
    if (i % 50 == 0 and i >= 50):
        set_count += 1
        record_count = 1
    # Create endpoint URL with each city.
    city_url = url + "&q=" + city.replace(" ","+")
    
    # Log the URL, record, and set numbers and the city.
    print(f"Processing Record {record_count} of Set {set_count} | {city}")
    # Add 1 to the record count.
    record_count +=1

# Run an API request for each of the cities.
    try:
        # Parse the JSON and retrieve data.
        city_weather = requests.get(city_url).json()
        # Parse out the needed data.
        city_lat = city_weather["coord"]["lat"]
        city_lng = city_weather["coord"]["lon"]
        city_max_temp = city_weather["main"]["temp_max"]
        city_humidity = city_weather["main"]["humidity"]
        city_clouds = city_weather["clouds"]["all"]
        city_wind = city_weather["wind"]["speed"]
        city_country = city_weather["sys"]["country"]
        # Convert the date to ISO standard.
        city_date = datetime.utcfromtimestamp(city_weather["dt"]).strftime('%Y-%m-%d %H:%M:%S')
        # Append the city information into city_data list.
        city_data.append({"City": city.title(),
                          "Lat": city_lat,
                          "Lng": city_lng,
                          "Max Temp": city_max_temp,
                          "Humidity": city_humidity,
                          "Cloudiness": city_clouds,
                          "Wind Speed": city_wind,
                          "Country": city_country,
                          "Date": city_date})

# If an error is experienced, skip the city.
    except:
        print(f"{city} not found. Skipping...")
        pass

# Indicate that Data Loading is complete.
print("-----------------------------")
print("Data Retrieval Complete      ")
print("-----------------------------")

In [47]:
city_data_df = pd.DataFrame(city_data)
city_data_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Punta Arenas,-53.1500,-70.9167,37.11,47,71,21.43,CL,2021-05-29 16:03:11
1,Dunedin,-45.8742,170.5036,49.80,95,100,1.99,NZ,2021-05-29 16:07:27
2,Forbes,-33.3833,148.0167,36.91,70,0,7.02,AU,2021-05-29 16:07:37
3,Norman Wells,65.2820,-126.8329,32.04,100,90,5.75,CA,2021-05-29 16:07:38
4,Yulara,-25.2406,130.9889,51.64,58,65,9.22,AU,2021-05-29 16:07:38
...,...,...,...,...,...,...,...,...,...
544,Prosperous,53.2903,-6.7539,65.03,81,100,5.37,IE,2021-05-29 16:10:35
545,Bartica,6.4000,-58.6167,84.52,91,100,4.05,GY,2021-05-29 16:10:35
546,Baykit,61.6700,96.3700,36.63,98,100,6.69,RU,2021-05-29 16:10:35
547,Beatrice,40.2681,-96.7470,55.04,66,90,10.36,US,2021-05-29 16:10:36
548,Kuhdasht,33.5350,47.6061,81.32,11,0,10.09,IR,2021-05-29 16:10:36

In [49]:
col_reord = ['City', 'Country','Date','Lat','Lng','Max Temp','Humidity','Cloudiness','Wind Speed']
city_data_df = city_data_df[col_reord]

# Create the output file (CSV).
output_data_file = "weather_data/cities.csv"
# Export the City_Data into a CSV.
city_data_df.to_csv(output_data_file, index_label="City_ID")